body::-webkit-scrollbar {
  display: none;
}

/* Overlay Noise au dessus des items */

#div-principale {
  position: relative;
}

::selection {
  background-color: green;
  color: white;
}
body,
html {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  * {
    pointer-events: none;
  }
}
